.photos
  padding-top: var(--sectionPaddingTop)
  padding-bottom: var(--sectionPaddingBottom)

  &__container
    @include mediaPhone
      padding-right: 0
      padding-left: 0
  &__content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 5px
  &__img
    padding-bottom: 460px
    flex: 1 1 49%
    &:last-child
      padding-bottom: 650px
    @include mediaTablet
      &:last-child
        padding-bottom: 460px
    @include mediaPhone
      padding-bottom: 300px
      &:nth-child(2)
        display: none
      &:last-child
        padding-bottom: 300px
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        img
          transform: scale(1.03)

  &__btn
    width: 100%
