.top
  padding-top: 40px
  padding-bottom: var(--sectionPaddingBottom)
  &__container


  &__wrapper
    display: flex
    gap: 41px

  &__left
    flex: 1 1 auto
    display: flex
    flex-direction: column

  &__logo
    width: 158px


  &__head
    margin-top: 140px
    font-size: 40px
    font-weight: 500
    text-transform: uppercase


  &__nav
    margin-top: auto
    display: flex
    justify-content: space-between


  &__menu
    & .menu__list
      display: flex
      flex-direction: column


  &__social

  &__right
    max-width: 893px
    border-radius: 30px
    overflow: hidden
    flex-shrink: 0

  &__img


