.btn-reset
  padding: 0
  border: none
  background-color: transparent
  cursor: pointer
  outline: none

.btn
  // align-self: center // если кнпка находится во flex-контейнере и нужно выровнять ее по середине
  display: inline-block
  background: $graphite
  // border-radius: 20px
  border: 2px solid $graphite
  padding: 20px 30px
  color: $grey
  @include font(600, 16, 16)
  letter-spacing: 0.15em
  text-align: center
  text-transform: uppercase
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.3s ease, border-radius 0.3s ease
  position: relative
  &:focus
    outline: none
    // background: $gradient-dark
    // color: $white
  &:active // НАЖАТИЕ
    transform: translateY(-2px)
    // background: $red-tab
    // color: $white
  @media (any-hover: hover)
    &:hover
      // transform: translateY(-4px)
      background: transparent
      color: $graphite
      border-radius: 3px
  &-error
    margin-top: 20px
  &-call
    background-color: #a94a20
    border: 2px solid #a94a20
    color: $grey
    @media (any-hover: hover)
      &:hover
        color: #a94a20

// стрелки слайдера
.navigation
  display: flex
  align-items: center
  z-index: 2
  &__btn
    width: 50px
    height: 50px
    cursor: pointer
    transition: border-color 0.3s ease
    border: 1px solid $gold
    border-radius: 50%
    &-prev
      transform: rotate(180deg)
      // transform: rotate(90deg)
      @media (any-hover: hover)
        &:hover
          border-color: $graphite
    &-svg
      width: 100%
      height: 100%
      fill: $gold
      transition: transform 0.3s ease-in, fill 0.3s ease
    &-next
      @media (any-hover: hover)
        &:hover
          border-color: $graphite
    &:focus
      outline: none
