.header
  padding: 23px 0
  @include mediaTablet
    position: fixed
    background-color: $grey
    box-shadow: 0 1px 35px 0 rgba($graphite, 0.1)
    z-index: 20
    width: 100%
  @include mediaPhone
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 7
    // background-color: $graphite
    // padding-top: 160px

  &__container
    // @include fx-all
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 0 20px
    @media screen and (max-width: 1050px)
      flex-wrap: wrap

  &__logo
    @include mediaPhone
      position: relative
      z-index: 3

  &__menu
    margin-right: auto
    margin-left: auto
    @media screen and (max-width: 1050px)
      margin-right: 0

