@media ( min-width: 992px )
  .benefits__arrow
    // имя  / продолжительность / ?? / ?? / время задерржки 
    animation: move-down 5s infinite linear
    // снимает дергание анимации
    backface-visibility: hidden
    // сохраняет перввй кадр анимации, если еть задержка
    animation-fill-mode: backwards

@keyframes myAnimBef
  0%
    opacity: 0.8
    transform: translateX(-50%) translateY(-50%) scale(0.9)
  80%
    opacity: 0
    transform: translateX(-50%) translateY(-50%) scale(1.5)
  100%
    opacity: 0
    transform: translateX(-50%) translateY(-50%) scale(2.5)


@keyframes myAnimRot
  0%, 100%
    transform: rotate(0deg)
    transform-origin: 50% 50%
  10%
    transform: rotate(8deg)
  20%, 40%, 60%
    transform: rotate(-10deg)
  30%, 50%, 70%
    transform: rotate(10deg)
  80%
    transform: rotate(-8deg)
  90%
    transform: rotate(8deg)
