.social
  display: flex
  align-items: center
  gap: 20px
  &__item
    &--tel
      width: auto !important
      margin-right: 12px !important
      flex-shrink: 0
      height: 32px !important
      cursor: pointer
      @include mediaPhone
        order: 2
        margin-left: auto
        margin-right: 0 !important
        list-style-type: none
        svg
          width: 32px
          height: 32px
          border: 2px solid #ffba21
          border-radius: 50%
          padding: 6px
          fill: #ffba21
      @media screen and (max-width: 380px)
        svg
          display: none


      span
        padding: 8px 10px 7px
        border-radius: 16px
        transition: background-color 0.3s ease-in
        border: 1px solid $yellow
        background-color: var(--btn-call-color, $yellow)
        font-weight: 700
        color: $text
        line-height: 1
        font-size: 14px
        letter-spacing: 0.05em
        @media (any-hover: hover) and (pointer: fine)
          &:hover
            background-color: transparent
      a
        display: flex
        align-items: center
        gap: 10px
        height: 100%
  li
    width: 30px
    height: 30px
    // padding: 3px
    // &:not(:last-child)
    //   margin-right: 22px
  svg
    fill: $graphite
    padding: 3px
    &.phone
      width: 32px
      height: 32px
      border: 2px solid $yellow
      border-radius: 50%
      padding: 6px
      fill: $yellow
      transition: border-color 0.3s ease-in, fill 0.3s ease-in
      @media (any-hover: hover) and (pointer: fine)
        &:hover
          border-color: $gold
    &.instagram
      fill: transparent
      stroke: $graphite
      stroke-width: 2px
      padding: 3px
      transition: stroke 0.3s ease-in
      @media (any-hover: hover) and (pointer: fine)
        &:hover
          fill: none
          stroke: $gold
      @include mediaPhone
        stroke: $white
    @media (any-hover: hover) and (pointer: fine)
      &:hover
        fill: $gold
    @include mediaPhone
      fill: $white
      width: 40px
      height: 40px

// .icon-svg
//   fill: transparent
//   stroke: transparent
//   width: 40px
//   height: 40px
//   transition: fill 0.3s ease-in

